*{
    margin: none;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url("../header_bg.png"),url("../developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color:#ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    border: 0px;
    padding: 18px 35px;
    background-color: #FD6E0A;
}
/* header and navegation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none; 
   margin: 50px;

}
/* banner styel */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-weight: 700;
    font-size: 85px;
   

}   
.banner-sub-title{
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 20px;
}
.banner-dis{
    color: #757575;
    margin-bottom: 30px;

}
/* main saction */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin-top: 130px;
    background-color:#FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}
.section-title{
   
    margin-bottom: 30px;

}
.section-description,.what-i-do{
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color:#757575;
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    /* what i do style */



    

}